body {
  margin: 20px;
}

.search-bar {
  text-align: center;
  margin: 20px 0 20px 0;
}

.search-bar input {
  width: 100%;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.search-item {
  height: 4em;
  border: 1px solid lightgray;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.sort {
  width: auto;
}

.label {
  margin-top: .5em;
}

.search-label {
  float: left;
  margin-top: 1em;
  margin-left: 1em;
}

.btn-add {
  margin-top: 1em;
  margin-right: 1em;
}

.video-list {
  margin-top: 1em;
}

.video-items {
  margin-top: 2em;
  margin-bottom: 1em;
}